In [1]:
d = {'Name': 'Ram', 'Age': '19', 'Country': 'India'}
print(d.get('Name'))
print(d.get('Gender'))

Ram
None

In [3]:
print(d.get('Ram'))

None

In [5]:
print(d.get('Hello?'))

None

In [6]:
d

{'Name': 'Ram', 'Age': '19', 'Country': 'India'}

In [7]:
for item in d.items():
    print(item)

# A tuple is returned

('Name', 'Ram')
('Age', '19')
('Country', 'India')

In [8]:
for item in d.items():
    print(item[0])

Name
Age
Country

In [9]:
d.keys()

dict_keys(['Name', 'Age', 'Country'])

In [10]:
d.values()

dict_values(['Ram', '19', 'India'])

In [11]:
dict_new = {'Name' : 'Ashwin', 'Age' : 12}
d.update(dict_new)
d

{'Name': 'Ashwin', 'Age': 12, 'Country': 'India'}

In [12]:
d.pop('Country')
d

{'Name': 'Ashwin', 'Age': 12}

In [13]:
d.popitem() # removes the last element
d

{'Name': 'Ashwin'}

In [14]:
set_name = ['Student Name', 'Roll no', 'Gender']
set_value = ['Jarvis', 'F023', 'Apache Helicopter']
res_dict = dict.fromkeys(set_name, set_value)
res_dict

{'Student Name': ['Jarvis', 'F023', 'Apache Helicopter'],
 'Roll no': ['Jarvis', 'F023', 'Apache Helicopter'],
 'Gender': ['Jarvis', 'F023', 'Apache Helicopter']}

In [17]:
d, res_dict

({'Name': 'Ashwin'},
 {'Student Name': ['Jarvis', 'F023', 'Apache Helicopter'],
  'Roll no': ['Jarvis', 'F023', 'Apache Helicopter'],
  'Gender': ['Jarvis', 'F023', 'Apache Helicopter']})